<div class="row">
  <div class="col">
    <!-- Por cada servidor crearemos una tarjeta con el nombre y
 el
  estado del servidor-->
    <a href="#" class="card mt-2" *ngFor="let server of serverList;" [routerLink]="['/servers',server.id ]"
      [queryParams]="{allowEdit: server.id === 1 ? '1' : '0'}" fragment="loading">

      <div class="card-header">{{server.name}}</div>
      <div class="card-body">
        <h5 class="card-title">Server status</h5>
        <p class="card-text">{{server.status}}</p>
      </div>
    </a>
    
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

